
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	/*//font-smoothing:antialiased;*/
	text-rendering:optimizeLegibility;
}
body {
	font:400 12px/1.625 'trebuchet MS' , 'Lucida sans' , Arial;
	color:#444;
	background:#FEFEFE;
	/*background-image:linear-gradient(left , #669999 0%, #006666 52%, #669999 100%);
	background-image:-moz-linear-gradient(left , #669999 0%, #006666 52%, #669999 100%);
	background-image:-webkit-linear-gradient(left ,#669999 0%, #006666 52%, #669999 100%);*/
}
.wrapper {
	max-width:940px;
    width:95%;
	margin:0 auto;
	position:relative;
}

.a_link
{
    cursor:pointer;
}
.imagecontrol
{
    width:180px;
    height:auto;
}


#cropform textarea
{
	font:400 12px/12px 'trebuchet MS' , 'Lucida sans' , Arial;
}
.div_userImgHolder{
    text-align:center;
}
#btn_comment {
color: #fff;
background-color: #669999;
border-color: #2e6da4;
}
#img_User {
display: inline-block;
max-width: 100%;
height: 320px;
padding: 4px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
#cropform {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#FEFEFE;
	padding:25px;
}
#cropform h3 {
	color:#006666;
	display:block;
	font-size:28px;
    text-align:center;
}
#cropform h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#cropform label span
{
	cursor:pointer;
	color:#006666;
	display:block;
	margin:5px 0;
	font-weight:900;
}
#cropform table tr td span
{
	color:#006666;
	display:block;
	margin:5px 0;
	font-weight:900;
    font-size:medium;
}
#cropform table{
    width:100%;
}
#cropform table tr
{
    width:100%;
}
#cropform table tr td.selector
{
    width:50%;
    vertical-align:top;
    padding-left:20%;
}
#btn_comment{
      float: right;
  margin-right: 0;
}
#cropform input[type="text"],
#cropform #ddl_cropname,
#cropform textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#cropform input[type="text"]:hover,
/*#cropform input[type="email"]:hover,
#cropform input[type="tel"]:hover,
#cropform input[type="url"]:hover,*/
#cropform textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#cropform textarea {
	height:100px;
	max-width:100%;
}
.btnctrl,#FileUpload1
{
    cursor:pointer;
	width:100%;
	border:none;
	background:#669999;
background-image:linear-gradient(left , #669999 0%, #006666 52%, #669999 100%);
	background-image:-moz-linear-gradient(left , #669999 0%, #006666 52%, #669999 100%);
	background-image:-webkit-linear-gradient(left ,#669999 0%, #006666 52%, #669999 100%);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
    font:400 12px/12px 'trebuchet MS' , 'Lucida sans' , Arial;
}

.btnctrl:hover{
    	background-image:linear-gradient(bottom, #669999 0%, #006666 52%);
	background-image:-moz-linear-gradient(bottom, #669999 0%, #006666 52%);
	background-image:-webkit-linear-gradient(bottom, #669999 0%, #006666 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.btnctrl:active{
box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}

#cropform button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#991D57;
	background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#cropform button[type="submit"]:hover {
	background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#cropform button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#cropform input:focus,
#cropform textarea:focus {
	outline:0;
	 /*textarea:focus;*/
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
