
        .d_wrap {
            display: inline-block; /* Displays an element as an inline-level block container. The inside of this block is formatted as block-level box, and the element itself is formatted as an inline-level box*/
            -webkit-box-shadow: 0 0 70px #fff;
            -moz-box-shadow: 0 0 70px #fff;
            box-shadow: 0 0 70px #fff;
            margin-top: 40px;
        }
        #menubar_div
        {
            width:100%;
        }
        .decor {
            background: #6EAF8D;
            background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
            background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
            background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
            background: linear-gradient(left, white 50%, #6EAF8D 50%);
            background-size: 50px 25%;
            padding: 2px;
            display: block;
        }

        a {
            text-decoration: none;
            color: #fff;
            display: block;
        }

        ul {
            list-style: none;
            position: relative;
            text-align: left;
        }

        li {
            float: left;
    width: 173px;
}

        ul:after {
            clear: both;
        }

        ul:before,
        ul:after {
            content: " ";
            display: table;
        }

        nav {
            position: relative;
            background: #2B2B2B;
            background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
            background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
            background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
            background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
            text-align: center;
            letter-spacing: 1px;
            -webkit-box-shadow: 2px 2px 3px #888;
            -moz-box-shadow: 2px 2px 3px #888;
            box-shadow: 2px 2px 3px #888;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }


        /*For each element in the menu, apply padding and border styles so that they appear seperated when the page is rendered*/
        ul.primary li a {
            display: block;
            padding: 20px 30px;
            border-right: 1px solid #3D3D3D;
    width: 64%;
    margin-left: 0px;
}
        /*Last element in the menu doesn't need any border-right as it is the last element */
        ul.primary li:last-child a {
            border-right: none;
        }

        /* When the user hovers over primary menu change its coloto white*/
        ul.primary li a:hover {
            color: #000;
        }

        /*Style settings for the sub-menu items*/
        ul.sub {
            position: absolute;
            z-index: 200;
            box-shadow: 2px 2px 0 #BEBEBE;
            width: 20%;
            display:none;
        }

            ul.sub li {
                float: none;
                margin: 0;
                width: 100%;
                
            }
                /*Style settings for the sub-menu items*/
                /*Style settings to seperate one sub-menu item from another*/
                ul.sub li a {
                    border-bottom: 1px dotted #ccc;
                    border-right: none;
                    color: #000;
                    padding: 15px 30px;
                    
                }
                /*Last sub-menu item doesn't need to be seperated*/
                ul.sub li:last-child a {
                    border-bottom: none;
                }
                /*Change background of the sub-menu item when the user hovers over it*/
                ul.sub li a:hover {
                    color: #000;
                    background: #eeeeee;
                }


        /*Settings that define how the sub-menu items should be rendered when the user hovers over a primary menu*/
        ul.primary li:hover ul {
            display: block;
            background: #fff;
            text-align:left;
        }
        /*Settings that define how the links should be rendered when the user hovers over a primary menu*/
        ul.primary li:hover a {
            background: #fff;
            color: #666;
            text-shadow: none;
        }

        ul.primary li:hover > a {
            color: #000;
        }

nav #login-content {
  background-position: 0% 0%;
    display: none;
    position: absolute;
    z-index: 999;    
    background-image: linear-gradient(top, #fff, #eee);  
    padding: 15px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    border-radius: 3px 0 3px 3px;
    background-color: #fff;
    background-repeat: repeat;
    background-attachment: scroll;
}

nav li #login-content {
    width: 18%;
}

#login-inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#login-inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {    
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 25%;
  cursor: pointer;
  color: #fff;
}

#login #submit:hover,
#login #submit:focus {    
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
} 

#login #submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
    width:70%;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}
        /*Styles to be applied when the user has a screen size less than 600px*/
        @media only screen and (max-width: 600px) {
            .decor {
                padding: 3px;
            }

            .wrap {
                width: 100%;
                margin-top: 0px;
            }

            li {
                float: none;
            }

            ul.primary li:hover a {
                background: none;
                color: #8B8B8B;
                text-shadow: 1px 1px #000;
            }

            ul.primary li:hover ul {
                display: block;
                background: #272727;
                color: #fff;
            }

            ul.sub {
                display: block;
                position: static;
                box-shadow: none;
                width: 100%;
            }

                ul.sub li a {
                    background: #272727;
                    border: none;
                    color: #8B8B8B;
                }

                    ul.sub li a:hover {
                        color: #ccc;
                        background: none;
                    }
        }
