.b_WeatherForecast
        {
            width: 25%;
        }
        .dd_stateList
        {
            width: 20%;
            text-align:center;
        }
        .dd_cities_List
        {
            width: 20%;
            text-align:center;
        }
        .t_WeatherForecastRequest
        {
          width: 100%;
          height: 25%;
        }
        .t_forecastResults
        {
            width:100%;
        }
       .l_errorMsg
       {
           text-align:center;
       }