    body {
            padding: 20px;
        }

        .search {
            margin-left: 10px;
        }

        .d_demo {
            
        }

        .d_documentation {
            
        }

        .d_header {
            height: 10%;
        }

        .auto-style1 {
            width: 12%;
            text-align: left;
        }

        .auto-style2 {
            text-align: left;
        }

        .auto-style3 {
            text-align: left;
        }
    